.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header{
  background-color: yellow;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 100px;
  color: purple;
   /* BackgroundColor:"yellow";
   width:"100%",color:"black",
   height:"5vh",display:"flex",
   justifyContent:"center",
   textAlign:"center" */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000ef;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
